<div class="card">
  <div class="card-header">
    Add Your Comment
  </div>
  <div class="card-body">
    <form id="comment-form" class="form">
      <input type="hidden" name="postId" value="<%= post.id %>">
      <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="form-group">
        <label for="userId">userId</label>
        <select type="text" class="form-control" name="userId" id="userId">
          <% users.forEach(function (user) { %>
          <option value="<%= user.id %>"><%= user.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="form-group"><button class="btn btn-primary" type="submit">Submit</button></div>
    </form>
  </div>
</div>