<div class="container">
  <h1>Edit Post</h1>
  <%- include('./post-form.ejs', { post, users }) %>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {

    async function editPost(values) {
      const res = await fetch('/posts/edit', {
        method: 'post',
        body: JSON.stringify(values),
        headers: {
          'Content-Type': 'application/json',
        },
      });

      window.location.href = '/views/posts';
    }

    const $form = $('form');

    $form.on('submit', function (e) {
      e.preventDefault();
      const values = Array.prototype.reduce.call($form.find('[name]').map(function () {
        return {
          [$(this).attr('name')]: $(this).val()
        };
      }), (previous, current) => ({
        ...previous,
        ...current
      }));


      editPost(values);
    })


  });
</script>