<nav class="navbar navbar-light bg-light ">
  <div class="container justify-content-between">
    <a href="/views/posts" class="navbar-brand">Hi</a>
    <a href="/views/login" class="btn btn-secondary"><%= name %></a>
  </div>
</nav>